<!DOCTYPE html>
<html lang="en">

<head>
    <title>Housie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="/javascript/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="my_container">
        <!-- Modal -->
        <div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Generate Tickets</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" id="radio1" onclick="check_input_format()" checked>&nbsp;Count</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <input type="number" value="1" min="1" max="200" step="1" id="ticket_count" oninput="check_input_format()" data-toggle="tooltip" data-placement="bottom" title="Max Tickets can be 200...!!!">
                            </div>
                        </div>

                        <hr class="divider" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" id="radio2" onclick="check_input_format()">&nbsp;Name(s)</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" id="ticket_names" rows="5" oninput="check_input_format()">Ex : (Newline Separated)&#13;&#10;&#13;&#10;Robb Stark&#13;&#10;Tyrion&#13;&#10;Jon Snow</textarea>
                            </div>
                        </div>
                        <p id="ticket_result_msg"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="generate_tickets()" , id="btn_generate_tickets()">Generate</button>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="my_title">Let's play Housie</h1>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary square_button" onclick="generate_random_number()">Pick One</button>
                <label id="generated_number">&#x262F;</label>
            </div>
            <div class="col-md-8">
                <button type="button" class="btn btn-primary square_button button-right" data-toggle="modal" data-target="#my_modal">Generate Tickets</button>
            </div>
        </div>
        <div>
            <table class="table table-bordered table-dark" id="my_table">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</body>

</html>